{% extends "marco.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<h2>Encuestas</h2>
		<form method="get" action="/appencuesta/encuesta/">
		<p><label for="id_filtro_num">Número de encuesta:</label>
		<input type="text" name="filtro_num" id="id_filtro_num" value="{{ filtro_num }}" /></p>
		<p><label for="id_filtro_ape">Apellido del encuestador:</label>
		<input type="text" name="filtro_ape" id="id_filtro_ape" value="{{ filtro_ape }}" /></p>
		<p><label for="id_filtro_ape">Nombre del encuestador:</label>
		<input type="text" name="filtro_nom" id="id_filtro_nom" value="{{ filtro_nom }}" />	</p>
		<input type="submit" value="Buscar" />
		<input type="button" value="Limpiar filtros" onclick='javascript: LimpiarFiltros();'/>
		</form>
  <table class="table table-hover">
    <thead>
      <tr>
		    <th></th>
		    <th></th>
				<th>Número</th>
				<th>Encuestador</th>
				<th>Parada de encuesta</th>
				<th>Día</th>
				<th>Hora</th>
				<th>Estado</th>

      </tr>
    </thead>
    <tbody>
    {% for encuesta in encuesta_list %}
	<tr>
    <td><a href="{% url "appencuesta:encuesta_procedimiento" encuesta.id %}" ><img src= "{% static "images/accion_modificar.png"%}" data-toggle="tooltip" data-placement="top" title="Modificar" alt= "Modificar"></a></td>
    <td><a href="{% url "appencuesta:encuesta_borrar" encuesta.id %}"><img src= "{% static "images/accion_borrar.png"%}" data-toggle="tooltip" data-placement="top" title="Borrar" alt= "Borrar"></a></td>
		<td>{{ encuesta.referencia  }}</td>
		<td>{{ encuesta.encuestador  }}</td>
		<td>{{ encuesta.parada_encuesta }}</td>
		<td>{{ encuesta.dia_realizada }}</td>
		<td>{{ encuesta.hora_realizada }}</td>
		<th>{{ encuesta.estado }}</th>
	</tr>
    {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="/appencuesta/encuesta?q={{query}}&page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}
              <span class="page-current">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="/appencuesta/encuesta?q={{query}}&page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
</div>
<a href="{% url "appencuesta:encuesta_crear"  %}"><img src= "{% static "images/accion_alta.png"%}" data-toggle="tooltip" data-placement="top" title="Agregar" alt="Agregar"></a>

<script type="text/javascript">
  function LimpiarFiltros(){
    $("[id^='id_filtro']").val('')
  }
</script>
{% endblock content %}
