<!DOCTYPE hmtl>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Logín a NQN Movilidad</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  </head>
  <body>
        <form id="login_form" method="post" action="/appencuesta/login/" class="form-signin">
          <div class="row">
            <div>
              <div class="text-center">
                <img class="img-responsive" src= "{% static "images/logo_nqn_movilidad.png"%}" alt="Logotipo de NQN Movilidad">
              </div>
            </div>
          </div>
          <div class="row">
            <div>
              <h3 class="form-signin-heading">Por favor ingrese sus credenciales</h3>
      		    {% if mensaje  %}
      		    <div class="alert alert-danger" role="alert">
      		      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      			    <span class="sr-only">¡Atención!</span>{{mensaje}}
      		    </div>
              {% endif %}
              <label for="username" class="sr-only">Usuario</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required autofocus>
              <label for="password" class="sr-only">Clave</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Clave" required>
              <div class="checkbox">
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
          </div>
        </form>
  </body>
<html>
