<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>NQN Movilidad</title>
  		  <!--<meta charset="utf-8">-->
  		  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		    <link href='//fonts.googleapis.com/css?family=Dosis:500&effect=outline' rel='stylesheet' type='text/css'>

        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    		<script src="{% static 'js/locales/bootstrap-datepicker.es.js'%}" charset="UTF-8"></script>
    	  <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">

    </head>
    <body>
		<!-- logo y cerrar sesion -->
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  	<div class="row">
          <div class="col-xs-3 col-md-3 col -sm-1">
    	      <!--logo -->
  	      <a href="{% url "appencuesta:encuesta_listar"  %}"><img class="img-responsive" src= "{% static "images/logo_nqn_movilidad.png"%}" alt="Logotipo de NQN Movilidad"></a>
          </div>
          <div class="col-xs-8 col-md-8"></div>
          <div class="col-lg-1">
              <p class="text-left"><strong>{{ user.username }}</strong></p>
              <p><a href="{% url "appencuesta:logout"  %}" class="btn btn-link">Salir</a></p>
          </div>
  	</div>


		<div class="row">
		  <div class="col-xs-2 col-md-2 col-sm-1">
		    <ul class="nav nav-pills nav-stacked">
			    <li><a href="{% url "appencuesta:encuesta_listar"  %}">Encuestas</a></li>
		    </ul>
		  </div>
		  <div class="col-xs-8 col-md-8 col-sm-4">
			{% block content %}{% endblock content %}
		  </div>
		</div>
	</body>
</html>
